* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  body {
    background: #f8f3f3;
    font-family: 'calibri';
    background-image: url("../img/background.jpg");
  }

nav {
    background: #F14857; 
    height: 100px;
    color: white;
}

@font-face {
    font-family: letracabecera;
    font-style: normal;
    font-weight: normal;
    src: url(../font/HelveticaNeueCyr-Bold.woff2);
}


.bi{
	color: white;
	width: 30px;
	height: 30px;
}
.bi:hover{
	color: black;
}
.logo{
	width: 68px;
	height:85px;
	border-radius: 10px;
}

