
.form-register {
    width: 600px;
    height: auto;
    margin: auto;
    border-radius: 5px;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 40px;
    text-align: left;
    color: #F14857;
    box-shadow: 7px 13px 37px #000;
    margin-top: 10px;
}
.form-register p {
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    color: black;
}
.form-register h1 {
    color: #000;
}
.form-register h2 {
    font-size: 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: left;
    color: black;
}
.controls{
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 16px;
    border: 1px solid #F14857;
    font-size: 18px;
}
.enviar{
    text-align: center;
    width: 100%;
    padding: 8px;
    border-radius: 5px;
    background: #F14857;
}
