* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  body {
    background-image: url(img/fondo.jpg);
    background-repeat: no-repeat;
    height: 187vh;
    background-position: center;
    font-family: 'calibri';
    border-radius: 5px;
  }
  
  header {
    background: #03A9F4;
    width: 100%;
    clear: both;
    content:'';
    display: table;
  }
  
  .menu {
    width: 1400px;
    margin: 0 auto;
  }

  
  nav {
    float: right;
  }
  
  nav ul li {
    list-style: none;
    margin-left: 75px;
    padding: 40px 0;
    float: left;
    position: relative;
  }
  
  nav ul li a {
    text-decoration: none;
    color: #444;
    font-weight: bold;
  }
  
  nav ul li a::before {
    display: block;
    content: '';
    width: 0%;
    background: #444;
    height: 5px;
    top:0;
    position: absolute;
    transition: width 0.2s;
  }
  
  nav ul li a:hover::before {
    width: 100%;
  }

  .logo{
    padding-top: 10px;
    width: 200px;
    height: 100px;
    border-radius: 20px;
  }

  .login{
    padding-bottom: 40px;
    width: 20px;
  }
  .titulo{
    text-align: center;
    margin-top: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.2);
   
}
.form-register {
    width: 600px;
    height: auto;
    margin: auto;
    border-radius: 5px;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 40px;
    text-align: left;
    color: #03A9F4;
    box-shadow: 7px 13px 37px #000;
    margin-top: 10px;
}
.form-register p {
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    color: black;
}
.form-register h1 {
    color: #000;
}
.form-register h2 {
    font-size: 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: left;
    color: black;
}
.controls{
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 16px;
    border: 1px solid #1f53c5;
    font-size: 18px;
}
.enviar{
    text-align: center;
    width: 100%;
    padding: 8px;
    border-radius: 5px;
    background: #03A9F4;
}
