.carousel-item{
    padding: auto;
    margin-top: 20px;
    padding-left: 200px;
    padding-right: 200px;
    width: 100%;
    height: 400px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }


.meGusta{
  display: inline;
  margin-top: 20px;
  margin-left: 650px;
  padding-top: 20px;
  padding-right: 20px;
  padding-left: 20px;
  text-decoration: none;
  text-align: center;
  font-size: 20px;
  border-bottom: 4px solid #F14857;
  border-radius: 10px;
}

.espaciado{
  margin-top: 20px;
}
.noMegusta{
  display: inline;
  font-size: 20px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: 10px;
  text-decoration: none;
  text-align: center;
  border-bottom: 4px solid #F14857;
  border-radius: 10px;
}

.ancho{
  margin-left: 200px;
  margin-right: 200px;
}

.titulo{
    margin-top: 0px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    box-shadow: 0 12px 12px rgba(0, 0, 0, 0.2);
    width: 100%;
    text-align: center;
    background-color: white;
}


.bi-heart-fill {
	color: #F14857;
	margin-left: 45%;
	width: 30px;
	height: 30px;
}

.bi-x-lg{
	margin-left: 170px;
	color: red;
	width: 30px;
	height: 30px;
}

.contenedor{
	background-color: white;
	box-shadow: 0 12px 12px rgba(0, 0, 0, 0.2);
	height: 50px;
	width: 500px;
	margin-left: 30%;	
}
.carousel-caption{
	background-color: white;
}

p{
	color: black;
}

h5{
	color: black;
}

carousel-item {
	color: black;
}