.botonNuevaMascota{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: x-large;
    margin-left: 20px;
    width: 150px;
    text-align: center;
}
.btnAgregar{
	border-radius: 15px;
	border: 1px solid black;
	width: 200px;
	text-align: center;
	margin-left: 50px;
	background-color: #F98181;
}

.btnAgregar a{
	text-decoration: none;
	color: white;
}

.btnAgregar:hover{

	background-color: white;
}
.btnAgregar a:hover{
	text-decoration: none;
	color: black;
}




.cajaBotonEliminar{
    width: 150px;
    margin-right: 20px;
    margin-left: 300px;
    text-align: center;
    background-color: yellow;
    color: #fff;
    float: right;
    border-radius: 10px;
    padding: 0px;
}

.cajaBotonEliminar a{
 color: black;
}
.cajaBotonEliminar a:hover{
 text-decoration: none;
 color: black;
}

.cajaBotonEliminar:hover{
 background-color: red;
}

.mascotaImagen {
    width: 235px;
    height: 300px;
}

body {
    background: #fff;
    font-family: sans-serif;
    box-sizing: border-box;

}

.enlace {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 25px;
}

.enlace:hover {
    text-decoration: none;
    color: #F14857;
}

.header {
    position: relative;
    padding: 0px;
    background: #fafafa;
    border-bottom: 1px solid #ccc;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.2)
}

.nombreMascota {
    font-size: 25px;
    color: black;
    
}

.mascotas {
    margin: 20px 200px;
    padding: 5px, 5px;
    display: flex;
    height: 40vh;
    display: flex;
    flex-direction: column;
    position: relative;
}

.mascota {

    padding: 15px, 5px;
    margin-top: 20px;
    margin-bottom: 40px;
    display: flex;
    width: 70vw;
    display: flex;
    flex-direction: row;
    position: relative;
    border-bottom: 4px solid #F14857;
    border-radius: 10px;
}

.imagenMascota::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    min-height: 40%;
    background: linear-gradient(0deg, rgba(51, 4, 181, 0.95) 0%, rgba(9, 27, 83, 0) 100%);
    z-index: 0;

}

.imagenMascota {
    border-radius: 10px;
    padding: 20px, 5px;
    margin: 10px;
    border: 3px solid #3b3030;
    background-color: #424242;
}

.description {
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 30px, 30px;
    margin: 10px;
}

.Informacion{
	font-size: 25px;
	color: #F17777;
}
.fa-heart{
	padding: 0px;
	margin-left: 10px;
	margin-top: 0px;
	font-size: 25px;
}
.numMatch{
	padding: 0px;
	margin-left: 5px;
	margin-top: 0px;
	font-size: 25px;
}

.titulo{
    text-align: center;
    margin-top: 0px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    box-shadow: 0 12px 12px rgba(0, 0, 0, 0.2);
    padding-left: 622px;
}
