*{
    margin: 0px;
    padding: 0px; 
}

.link{
    color: #F14857 ;
    text-align: left;
    text-decoration: underline;
}

.texto{
    text-align: right;
    color: #F14857 ;
}

.texto1{
    color: #F14857 ;
    display: inline;
}
.alineacionBoton{
    margin-left: 470px;
    width: 200px;
}

.boton{
    width: 100px;
    border-radius: 5px;
    
    border: none;
    text-align: center;
}

.tamanioCajas{
    height: 30px;
}

.entradas{
    height: 50px;
    width: 100%;
}

.etiquetas{
    margin: 13px;
    margin-right: 100px;
    color: aliceblue;
}

h1{
    text-align: center;
    margin-top: 120px;
}

.tipoDeLetra{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.alineacionTexto{
    text-align: center;
    padding: 16px;
}
.color{
    background-color: #F14857 ;
    height: 50px;
}
.logo {
    padding-top: 5px;
    height: 100px;
    width: 100px;
    border-radius: 40px; 
}